<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vistas.Properties.Settings.DBFutbolClubConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\kevin\source\repos\AppFutbolClub\ClasesBase\DBFutbolClub.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings> 
	<!--<connectionStrings>
		<add name="cadena_conexion" connectionString="Data Source=DESKTOP-CVL6FNA\SQLEXPRESS;Initial Catalog=appClub;Integrated Security=True;Encrypt=False;" providerName="System.Data.SqlClient"/>
		<add name="cadena_conexion" connectionString="Data Source=DESKTOP-CVL6FNA\SQLEXPRESS;Initial Catalog=DBFutbolClub;Integrated Security=True;Encrypt=False;" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>